@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Movie Details";
}

<h1>Movie Details</h1>

<div class="card mt-4">
    <div class="card-header bg-primary text-white">
        <h4>@Model.Title</h4>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.ReleaseDate)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Genre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Genre)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt class="col-sm-3 fw-bold">
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Rating)
            </dd>
        </dl>
    </div>
    <div class="card-footer">
        <a asp-action="Edit" asp-route-id="@Model?.ID" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>